html,body
{
    background-color: #f4f4f4;
    min-height: 100%;
}

.sidebar .glyphicon{
    margin-right: 3%;
}


.container{
  background-color: white;
  width: 90%;
  padding: 1%;
  border-radius: 7px;
}

.main {
    margin-top: 2%;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
  border-right: 2px solid #002E5F;
}
 
.container-fluid{
    background-color: #002E5F;
}

.nav-second-level{
    padding-left: 26px;
}
.sidebar .nav-second-level li {
  border-bottom: none !important;
}

.sidebar ul li {
  border-bottom: 0.5px solid rgba(0,46,95,.1);
 
}
.sidebar ul li a.active {
  background-color: #eeeeee;
  
}


@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 0px;
  }
  }

  


#wrapper {
  width: 100%;
  background-color: white;
}




















