<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tafjord</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <div id="left-top-logo">
                <img src="image/TafjordLogo.png" alt=""/>
            </div>
        </header>

                <div id="left-menu">
                    <nav>
                        <ul>
                            <li><a href="?page=overview"> Oversikt </a></li>
                        </ul>
                    </nav> 
                </div>
        <main>